[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"
lxml = "*"
pymongo = "*"
setuptools = "<58.0.0"
requests = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.9"
